# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Virtual Environment
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
